@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

header {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  column-gap: 0;
}

.header__menu {
  display: flex;
  margin-left: 50px;
  padding: 0;
}

.header__menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 24px;
}

.header__menu ul li {
  margin-right: 13px;
  position: relative;
}

.header__menu ul li:not(:last-child)::after {
  content: "";
  width: 6px;
  height: 6px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
}

.header__logo {
  display: flex;
  padding: 0px;
  justify-self: center;
  margin-top: 92px;
  margin-bottom: 96px;
}

.header__logo img {
  width: 148px;
  height: 105px;
}

address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  height: 98px;
  justify-self: end;
  margin-right: 50px;
  padding: 0;
  gap: 4px;
  white-space: normal;
}

address p {
  margin: 0;
  white-space: nowrap;
}

.contact-link {
  text-decoration: underline;
  color: inherit;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  min-height: 757px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}

.cover .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 1000px;
  min-height: 385px;
  position: relative;
  z-index: 2;
  margin-top: 165px;
  padding: 0;
  box-sizing: border-box;
  gap: 24px;
}

.cover__title .accent-span {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 8vw, 100px);
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  white-space: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cover__title .accent-span .no-tracking {
  letter-spacing: 0;
  display: inline-block;
  transform: translateX(0.125em);
}

.cover__title .accent-span:nth-child(1) {
  justify-content: flex-start;
}

.cover__title .accent-span:nth-child(2) {
  justify-content: center;
}

.cover__title .accent-span:nth-child(3) {
  justify-content: flex-end;
}

.description {
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  pointer-events: auto;
  padding-bottom: 50px;
  box-sizing: border-box;
  background: transparent;
  min-height: 51px;
  padding-top: 106px;
}

.subline {
  display: flex;
  align-items: center;
  min-width: 0;
  flex: 1 1 auto;
}

.subline__text {
  margin: 0;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.95;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
  width: auto;
  min-width: 0;
  word-spacing: 0.8em;
}

.bet-button {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 10px 28px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.15s ease, color 0.15s ease;
  flex: 0 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.bet-button:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

.lots {
  margin: 180px 24px 120px;
}

.lots__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lots__item {
  flex: 1 1 30%;
  min-height: 596px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  color: #fff;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card__content {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 2;
  flex-grow: 1;
}

.lots__item:first-child .card__text {
  margin-top: auto;
}

.lots__item:nth-child(2) .card__text {
  margin-top: 30px;
}

.lots__item:nth-child(3) .card__text {
  margin-top: 126px;
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-bottom: 16px;
}

.card__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-transform: lowercase;
  color: #000;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 65px;
  margin-bottom: 120px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 71px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 62px;
  padding-left: 46.48px;
  padding-right: 45.52px;
  justify-self: start;
  margin-top: 35px;
}

.about__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column h2 {
  margin: 0;
  margin-top: 133px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  padding-bottom: 100px;
}

.paragraph-group {
  text-align: left;
  margin-top: 0;
  max-width: 693px;
  max-height: 312px;
}

.paragraph-group p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: left;
}

.paragraph-group p:last-child {
  margin-bottom: 0;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-left: 50px;
  margin-right: auto;
  padding-bottom: 82px;
  margin-top: 180px;
}

.address-footer {
  grid-column: 1;
  text-align: left;
  line-height: 24.3px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 264.57px;
  height: 98px;
  box-sizing: border-box;
}

.menu {
  width: 163.9px;
  height: 64px;
  box-sizing: border-box;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-self: center;
  align-self: start;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.menu li {
  margin: 6px 0;
}

.menu a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.social-links {
  grid-column: 3;
  display: flex;
  gap: 16px;
  padding-right: 50px;
  width: 240px;
  height: 48px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-self: center;
  align-self: start;
}

.social-links a {
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
